
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ path('index') }}">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
        <!-- Esto crea los botones de las categorias a partir de la BD -->
        {% for category in categories %}
            {% set targetURL = path('category', { 'slug' : category.slug }) %}
            {% set active = false %}

            {% if category.child != NULL %}
                {% for childslug in category.child %}
                    {% if currentPath == "/categoria/" ~ childslug or currentPath == "/categoria/" ~ category.slug %}
                        {% set active = true %}
                    {% endif %}
                {% endfor %}
                    <li class="nav-item dropdown">
                {% if active == true %}
                    <a class="nav-link active" href="{{targetURL}}" data-target="{{targetURL}}">
                {% else %}
                    <a class="nav-link" href="{{targetURL}}" data-target="{{targetURL}}">
                {% endif %}
                        <span class="dropdown-toggle nav-link">{{category.name}}
                            <span class="caret"></span>
                        </span>
                    </a>

                <ul class="dropdown-menu">
                    {% for childslug in category.child %}
                        {% set targetURL = path('category', { 'slug': childslug }) %}
                        <li><a href="{{targetURL}}">{{childslug}}</a></li>
                    {% endfor %}
                </ul>

            {% else %}
                {% if currentPath == "/categoria/" ~ category.slug %}
                    <li class="nav-item active">
                {% else %}
                    <li class="nav-item">
                {% endif %}
                    <a class="nav-link" href="{{ path('category', { 'slug': category.slug }) }}">{{category.name}} <span class="sr-only">(current)</span></a>
                    </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="search-area">
        <form class="" >

        </form>
      <form class="form-inline my-2 my-lg-0" action="{{path('product-search')}}" method="post">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Búsqueda">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar Producto</button>
      </form>
    </div>

    <div class="login-area">
        {% if app.user %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userModal">
            <div class="row">
                <span class="ml-2 mr-3 my-auto">{{app.user.nick}}</span>
                <img class="login-area-image mr-2" src="{{asset('assets/img/user/') ~ app.user.image}}">
            </div>

        </button>
        {% else %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Iniciar sesión</button>
        {% endif %}
    </div>

  </div>
</nav>

    {{render(controller('App\\Controller\\ModalController::registerPopup', { 'currentPath' : currentPath }))}}
    {{render(controller('App\\Controller\\ModalController::loginPopup', { 'currentPath' : currentPath }))}}
    {{render(controller('App\\Controller\\ModalController::userPopup', { 'currentPath' : currentPath }))}}
<!-- Modal -->
<div id="information"></div>
