<div class="container mt-5">

  <!--Section: Content-->
  <section class="mb-5">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-5">Detalles de producto</h3>

  	<div class="row">

      <!--Grid column-->
      <div class="col-md-12">
        <!--News card-->
        <div class="card">
          <div class="card-body">
            <div class="row h-100 d-flex align-items-center">
              <div class="col-lg-6">
                  <h2 class=" ml-3">{{product.name}}</h2>
                <p class=" ml-3 mb-5">{{product.description}}
                </p>
                <ul class="fa-ul mb-5 text-muted font-weight-light">
                    {% for feature in features %}
                        <li class="mb-2"><span class="fa-li"><i class="fas fa-check green-text"></i></span>{{feature.text}}</li>
                    {% endfor %}
                </ul>
                <div class="d-flex justify-content-between ml-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" id="productLess"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn btn-secondary" id="productBuyNumber" disabled = "disabled" data-quantity="1">1</button>
                        <button type="button" class="btn btn-secondary" id="productMore"><i class="fas fa-arrow-right"></i></button>
                        <button type="button" class="btn btn-primary" id="buyButton" data-product="{{product.id}}">Comprar</button>
                    </div>

                  <div class="text-center">
                    <h4 class="mb-0 font-weight-bold" id="price" data-price="{{product.price}}">{{product.price}} €</h4>
                  	<small class="grey-text">+5€ gasto de envío</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                  <img class="img-fluid " src="{{asset('/assets/img/product/') ~ product.image}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

    </div>
  </section>
  <!--Section: Content-->
</div>


<div class="container">
	<h2 class="text-center">Opiniones sobre el producto</h2>


{% set anyreview = false %}
{% for review in reviews %}
{% set anyreview = true %}
    <div class="mt-3"></div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{asset('assets/img/user/' ~ review.iduser.image)}}" class="img img-rounded img-fluid"/>
                </div>
                <div class="col-md-10">
                    <h3>
                        {{review.title}}idproduct
                    </h3> <button class="btn btn-secondary" id="deleteButton" data-slug="{{product.slug}}" data-idreview="{{review.id}}"><i class="fas fa-trash"></i> </button>
                    <p>
                        {{review.iduser.name}}  ( <strong>{{review.iduser.nick}}</strong> )
                        {% for i in 1..5 %}
                            {% if i <= review.rating %}
                            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                            {% else %}
                            <span class="float-right"><i class="far fa-star"></i></span>
                            {% endif %}
                        {% endfor %}

                   </p>
                   <div class="clearfix"></div>
                    <p>{{review.description}}</p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% if anyreview == false %}
No hay opiniones para este producto
{% endif %}
    <div class="mt-3"></div>
    {% if app.user %}
<div class="card mb-5">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="{{asset('assets/img/user/' ~ app.user.image)}}" class="img img-rounded img-fluid"/>
            </div>
            <div class="col-md-10">
                <label for="exampleFormControlTextarea2">{{app.user.name}} (<b> {{app.user.nick}} </b>)</label>

                <!-- FORMULARIO DEL COMENTARIO -->
                {{form_start(form)}}
                <div class="container mt-3">
                    <div class="row mb-4">
                        <div class="col-auto mr-4">
                            <label>Título</label>
                            {{ form_widget(form.title, {'attr':{"class" : "form-control",
                                                                "id":"validationDefault01",
                                                                'placeholder':'Escribe un título...'}})}}
                        </div>
                        <div class="col-auto ">
                            <label>Puntuación</label>
                            {{ form_widget(form.rating, {'attr': {"class" : "form-control"}})}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_widget(form.description, {'attr': { "class" : "form-control rounded-4",
                                                                        'id':'exampleFormControlTextarea2',
                                                                        'rows':'3',
                                                                        'placeholder':'Escribe aquí tu opinion...'}})}}
                        </div>
                    </div>
                    <div class="row justify-content-end mr-2">
                        <div class="col-5 col-md-3 col-sm-4 col-xs-6 mt-3">
                            <button class="btn btn-primary form-control" type="submit" name="button">Enviar</button>
                        </div>
                    </div>
                </div>
                {{form_end(form)}}
                <!-- /FORMULARIO DEL COMENTARIO -->

               <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
</div>
