<div class="justify-content-center">
    <div class="card px-4 py-4 container">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="{{asset('/assets/img/product/') ~ product.image}}">
            </div>
            <div class="col-6 text-left px-2 py-2">
                <div class="row text-terciary">
                    <h1><b>{{product.name}}</b> </h1>
                </div>
                <div class="row text-primary align-items-center my-3">
                        <h3 class="text-muted no-wrapping">Precio &nbsp;</h3>
                        <h3><b>{{product.price}}&nbsp;€</b></h3>
                </div>

            </div>
            <div class="row align-middle text-primary mx-2 text-justify">
                <h3><b> Descripción</b></h3>
                <h4>
                    {% if trimmedDescription is defined %}
                        {{trimmedDescription}}...
                    {% else %}
                        {{product.description}}
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>
</div>
