<div class="container mt-5">

  <!--Section: Content-->
  <section class="mb-5">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-5">Detalles de producto</h3>

  	<div class="row">

      <!--Grid column-->
      <div class="col-md-12">
        <!--News card-->
        <div class="card">
          <div class="card-body">
            <div class="row h-100 d-flex align-items-center">
              <div class="col-lg-6">
                  <h2 class=" ml-3">{{product.name}}</h2>
                <p class=" ml-3 mb-5">{{product.description}}
                </p>
                <ul class="fa-ul mb-5 text-muted font-weight-light">
                    {% for feature in features %}
                        <li class="mb-2"><span class="fa-li"><i class="fas fa-check green-text"></i></span>{{feature.text}}</li>
                    {% endfor %}
                </ul>
                <div class="d-flex justify-content-between ml-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-secondary" id="productLess"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn btn-secondary" id="productBuyNumber" disabled = "disabled" data-quantity="1">1</button>
                        <button type="button" class="btn btn-secondary" id="productMore"><i class="fas fa-arrow-right"></i></button>
                        <button type="button" class="btn btn-primary" id="buyButton" data-product="{{product.id}}">Comprar</button>
                    </div>

                  <div class="text-center">
                    <h4 class="mb-0 font-weight-bold" id="price" data-price="{{product.price}}">{{product.price}} €</h4>
                  	<small class="grey-text">+5€ gasto de envío</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                  <img class="img-fluid " src="{{asset('/assets/img/product/') ~ product.image}}">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

    </div>
  </section>
  <!--Section: Content-->

</div>
