{% extends 'admin.html.twig' %}

{% block title %}Categorías{% endblock %}

{% block body %}

<div class="content">
    <div class="row">
        <div class="col-auto">
            <h2>Categorías</h2>
        </div>
        <div class="col-auto">
            <a href="{{path('create-category')}}">
                <button class="btn btn-primary">
                    Crear <i class="fas fa-plus ml-2"></i>
                </button>
            </a>
        </div>
    </div>


<table class="table col-12 table-hover table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Slug</th>
            <th scope="col">Padre</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <th scope="col">{{category.id}}</th>
            <th scope="col">{{category.name}}</th>
            <th scope="col">{{category.slug}}</th>
            <th scope="col">
                {% if category.parentslg != NULL %}
                _ {{category.parentslg}}
                {% else %}
                **Principal**
                {% endif %}
            </th>
            <th scope="col">
                <a href="{{path('edit-category',{'id':category.id})}}">
                    <button class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
            </th>
            <th scope="col">
            <a href="{{path('delete-category',{'id':category.id})}}">
                <button class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                </button>
            </a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
