{% extends 'admin.html.twig' %}

{% block title %}Mensajes{% endblock %}

{% block body %}

<div class="content">
    <h2>Mensajes</h2>
</div>

<table class="table col-12 table-hover table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">Tema</th>
            <th scope="col">Fecha</th>
            <th scope="col">Ver mensaje</th>
        </tr>
    </thead>
    <tbody>
    {% for message in messages %}
        <tr>
            <th scope="col">{{message.id}}</th>
            <th scope="col">{{message.iduser.nick}}</th>
            <th scope="col">{{message.topic}}</th>
            <th scope="col">{{message.date|date('j/M/Y')}}</th>
            <th scope="col">
                <a href="{{path('show-message',{'id':message.id})}}">
                    <button class="ml-3 btn btn-primary">
                        <i class="fas fa-eye"></i>
                    </button>
                </a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
