{% extends 'admin.html.twig' %}

{% block title %}Cestas{% endblock %}

{% block body %}

<div class="content">
    <h2>Cestas</h2>
</div>

<table class="table col table-hover table-responsive-sm text-nowrap">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col text-nowrap">Precio</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <th scope="col">{{order.id}}</th>
            <th scope="col">{{order.name}}</th>
            <th scope="col text-nowrap">{{order.totalprice}} €</th>
            {% if   order.deliverystatus == "PAID" or
                    order.deliverystatus == "DELIVERING" or
                    order.deliverystatus == "CLOSED" %}
            <th scope="col">{{order.date|date('j/M/Y')}}</th>
            {% else %}
            <th scope="col">...</th>
            {% endif %}

            <th scope="col">
            {% if order.deliverystatus == "OPEN" %}
                <i class="fas fa-edit ml-2"></i>
            {% endif %}
            {% if order.deliverystatus == "PAID" %}
                <i class="fas fa-money-bill-alt"></i>
            {% endif %}
            {% if order.deliverystatus == "DELIVERING" %}
                <i class="fas fa-truck ml-2"></i>
            {% endif %}
            {% if order.deliverystatus == "CLOSED" %}
                <i class="fas fa-check ml-2"></i>
            {% endif %}
            </th>

            <th scope="col">
                <a href="{{path('edit-order',{'id':order.id})}}">
                    <button class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
