{% extends 'admin.html.twig' %}

{% block title %}Opiniones{% endblock %}

{% block body %}

<div class="content">
    <h2>Opiniones</h2>
</div>

<table class="table col-12 table-hover table-responsive-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Puntuación</th>
            <th scope="col">Fecha</th>
            <th scope="col">Usuario</th>
            <th scope="col">Editar</th>
            <th scope="col">Baneado</th>
        </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
        <tr>
            <th scope="col">{{review.id}}</th>
            <th scope="col">{{review.title}}</th>
            <th scope="col">{{review.rating}}</th>
            <th scope="col">{{review.date|date('j/M/Y')}}</th>
            <th scope="col">{{review.iduser.nick}}</th>
            <th scope="col">
                <a href="{{path('show-review',{'id':review.id})}}">
                    <button class="btn btn-info">
                        <i class="fas fa-eye"></i>
                    </button>
                </a>
            </th>
            <th scope="col">
            {% if not review.banned %}
            <a href="{{path('active-review',{'id':review.id})}}">
                <button class="btn btn-success">
                    <i class="fas fa-check"></i>
                </button>
            </a>
            {% else %}
            <a href="{{path('active-review',{'id':review.id})}}">
                <button class="btn btn-danger">
                    <i class="fas fa-gavel"></i>
                </button>
            </a>
            {% endif %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
