{% extends 'admin.html.twig' %}

{% block title %}Reviews{% endblock %}

{% block body %}



<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Puntuación</th>
            <th scope="col">Título</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Editar</th>
            <th scope="col">Baneado</th>
        </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
        <tr>
            <th scope="col">{{review.id}}</th>
            <th scope="col">{{review.title}}</th>
            <th scope="col">{{review.rating}}</th>
            <th scope="col">{{review.date|date('j/M/Y')}}</th>
            <th scope="col">
                <a href="#">
                    <button class="btn btn-info">
                        <i class="fas fa-edit"></i>
                    </button>
                </a>
            </th>
            <th scope="col">
            {% if not review.banned %}
            <a href="{{path('active-review',{'id':review.id})}}">
                <button class="btn btn-success">
                    <i class="fas fa-check"></i>
                </button>
            </a>
            {% else %}
            <a href="{{path('active-review',{'id':review.id})}}">
                <button class="btn btn-danger">
                    <i class="fas fa-gavel"></i>
                </button>
            </a>
            {% endif %}
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
