{% extends 'base.html.twig' %}

{% block title %}editar orden{% endblock %}

{% block body %}

<div class="container my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-lg-8 col-md-10 col-12">
        <p class="h4 mb-4">Creando cesta personal</p>
        {% if error is defined %}
        <p>{{icon|raw}} {{error}}</p>
        {% endif %}
        <!-- formulario -->
        {{form_start(form)}}

            <div class="form-row mb-4">
                <!-- Nombre -->
                <div class="col text-left">
                  <label>Nombre</label>
                  {{ form_widget(form.name, {'attr': {"class" : "form-control",'placeholder':'Nombre...'}})}}
                </div>
                <!-- Nombre -->

                <!-- Stock -->
                <div class="col text-left">
                  <label>Dirección</label>
                  {{ form_widget(form.direction, {'attr': {"class" : "form-control",'placeholder':'C/...'}})}}
                </div>
                <!-- Stock -->
            </div>

          <div class="form-row mb-4 justify-content-end">

                <!-- submit -->
              <div class="col-auto">
                  <button class="btn btn-info my-4 btn-block" type="submit">enviar</button>
              </div>
              <!-- submit -->
          </div>

          <!-- Enviar -->



        {{form_end(form)}}
        <!-- formulario -->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->
</div>

{% endblock %}
